* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid red;
  background-color: #a0b489;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  place-items: center;
  gap: 2rem;
  font-size: 16px;
  margin: 1rem 0;
  overflow: hidden;
  overflow-y: scroll;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  gap: 1rem;
}

footer {
  grid-area: footer;
}

.hide_element {
  visibility: hidden;
}

/* Media query for desktop */
@media only screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
}
